.header {
  background: #f9b713;
  height: 100px;
  max-width: 100%;
}

.header h1 {
  margin: 0;
  padding-top: auto;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.navActive {
  background-color: white;
  font-weight: bolder;
}
